# Python
__pycache__/
*.py[cod]
*.pyo
venv/
env/
.env

# Flask
instance/
*.sqlite
*.sqlite3
*.db

# Vue / Node
node_modules/
dist/
npm-debug.log*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Redis
dump.rdb

# Celery
celerybeat-schedule
celerybeat.pid

# Generated exports
exports/